parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'key' on array\\|false\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\DataService\\:\\:getCertificateInfo\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\DataService\\:\\:getPublicKey\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Parameter \\#1 \\$event of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects object, string given\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Parameter \\#1 \\$key of function openssl_pkey_get_private expects string, resource given\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:__construct\\(\\) has parameter \\$session with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getAllInMyCircle\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getEnvironmentNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getEnvironmentsById\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getEnvironmentsStats\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getManagedEnvironement\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getNotSnapshotEnvironments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:getNotSnapshotEnvironmentsNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:\\$environments type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:\\$environmentsById type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:\\$notSnapshotEnvironments type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\EnvironmentService\\:\\:\\$session type has no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/Service/EnvironmentService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\Mapping\\:\\:dataFieldToArray\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/Mapping.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\Mapping\\:\\:generateMapping\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/Mapping.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\Mapping\\:\\:getMapping\\(\\) has parameter \\$environmentNames with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Mapping.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\Mapping\\:\\:getMapping\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Mapping.php

		-
			message: "#^Cannot call method send\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:__construct\\(\\) has parameter \\$sender with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:__construct\\(\\) has parameter \\$session with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:accept\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:countPending\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:countRejected\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:countSent\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listArchivesNotifications\\(\\) has parameter \\$filters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listInboxNotifications\\(\\) has parameter \\$filters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listRejectedNotifications\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listRejectedNotifications\\(\\) has parameter \\$filters with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listRejectedNotifications\\(\\) has parameter \\$from with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:listRejectedNotifications\\(\\) has parameter \\$limit with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:menuNotification\\(\\) has parameter \\$filters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:publishEvent\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:reject\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:response\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:response\\(\\) has parameter \\$status with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:sendEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setDryRun\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setDryRun\\(\\) has parameter \\$dryRun with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setOutput\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setOutput\\(\\) has parameter \\$output with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setStatus\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setStatus\\(\\) has parameter \\$level with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:setStatus\\(\\) has parameter \\$status with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:usersToEmailAddresses\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:usersToEmailAddresses\\(\\) has parameter \\$users with no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:\\$output \\(Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface\\) does not accept null\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:\\$sender has no typehint specified\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\NotificationService\\:\\:\\$session type has no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/NotificationService.php

		-
			message: "#^Call to an undefined method object\\:\\:prepare\\(\\)\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:__construct\\(\\) has parameter \\$instanceId with no typehint specified\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:__construct\\(\\) has parameter \\$session with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:alignRevision\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:silentPublish\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:unpublish\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: src/Service/PublishService.php

		-
			message: "#^PHPDoc tag @var for variable \\$statement has no value type specified in iterable type Doctrine\\\\DBAL\\\\Statement\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Parameter \\#1 \\$event of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects object, string given\\.$#"
			count: 2
			path: src/Service/PublishService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:\\$revRepository \\(EMS\\\\CoreBundle\\\\Repository\\\\RevisionRepository\\) does not accept Doctrine\\\\Persistence\\\\ObjectRepository\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\PublishService\\:\\:\\$session type has no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Service/PublishService.php

		-
			message: "#^Parameter \\#2 \\$contentType of method EMS\\\\CoreBundle\\\\Repository\\\\ReleaseRevisionRepository\\:\\:getRevisionsLinkedToReleasesByOuuid\\(\\) expects EMS\\\\CoreBundle\\\\Entity\\\\ContentType, EMS\\\\CoreBundle\\\\Entity\\\\ContentType\\|null given\\.$#"
			count: 1
			path: src/Service/ReleaseRevisionService.php

		-
			message: "#^Cannot call method getName\\(\\) on EMS\\\\CoreBundle\\\\Entity\\\\FieldType\\|null\\.$#"
			count: 2
			path: src/Service/Revision/PostProcessingService.php

		-
			message: "#^PHPDoc tag @var for variable \\$child has no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormInterface\\.$#"
			count: 1
			path: src/Service/Revision/PostProcessingService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\TemplateService\\:\\:addNested\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/TemplateService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\TemplateService\\:\\:addNested\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/TemplateService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\TemplateService\\:\\:addNested\\(\\) has parameter \\$rawData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/TemplateService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\TemplateService\\:\\:getXml\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/TemplateService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\TemplateService\\:\\:getXml\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/TemplateService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:__construct\\(\\) has parameter \\$securityRoles with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:deleteUser\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:findUserByEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:findUserByEmail\\(\\) has parameter \\$email with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUser\\(\\) has parameter \\$detachIt with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUser\\(\\) has parameter \\$username with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUserById\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUserById\\(\\) has parameter \\$id with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has parameter \\$circles with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has parameter \\$role with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getsecurityRoles\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:updateUser\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:updateUser\\(\\) has parameter \\$user with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:\\$securityRoles has no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php
