includes:
    - phpstan-baseline.neon

parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/Resources/DoctrineMigrations
        - %currentWorkingDirectory%/Resources/public/js
        - %currentWorkingDirectory%/Controller/AppController.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findOneById().#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findOneByName().#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findByContentType().#'
    reportUnmatchedIgnoredErrors: false
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    parallel:
        maximumNumberOfProcesses: 2
