parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'key' on array\\|false\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\DataService\\:\\:getCertificateInfo\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\DataService\\:\\:getPublicKey\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/DataService.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Parameter \\#1 \\$event of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects object, string given\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Parameter \\#1 \\$key of function openssl_pkey_get_private expects string, resource given\\.$#"
			count: 2
			path: src/Service/DataService.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: src/Service/PublishService.php

		-
			message: "#^Parameter \\#1 \\$event of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects object, string given\\.$#"
			count: 2
			path: src/Service/PublishService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:__construct\\(\\) has parameter \\$securityRoles with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:deleteUser\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:findUserByEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:findUserByEmail\\(\\) has parameter \\$email with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUser\\(\\) has parameter \\$detachIt with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUser\\(\\) has parameter \\$username with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUserById\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUserById\\(\\) has parameter \\$id with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has parameter \\$circles with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getUsersForRoleAndCircles\\(\\) has parameter \\$role with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:getsecurityRoles\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:updateUser\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Method EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:updateUser\\(\\) has parameter \\$user with no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

		-
			message: "#^Property EMS\\\\CoreBundle\\\\Service\\\\UserService\\:\\:\\$securityRoles has no typehint specified\\.$#"
			count: 1
			path: src/Service/UserService.php

