{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ table.titleTransKey|trans }}{% endblock %}


{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box ">
            <div class="box-body with-border">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped" data-datatable="{{ {

                    }|json_encode|e('html_attr') }}">
                        <thead>
                        <tr role="row">
                            <th class="nowrap text-center">{{ 'table.index.column.loop_count'|trans }}</th>
                            <th class="nowrap">{{ 'table.index.column.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>A</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>B</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}