{% trans_default_domain 'EMSCoreBundle' %}{% extends '@EMSCore/base.html.twig' %}
{% block title %} {{ 'search_options.title'|trans }} {%endblock %}
{% block pagetitle %} {{ 'search_options.title'|trans }} {% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="fa fa-search"></i> {{ 'search_options.title'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
    <div class="row">
    </div>
{% endblock %}