{% trans_default_domain 'EMSCoreBundle' %}{% extends '@EMSCore/base.html.twig' %}
{% block title %} {{ 'Search options'|trans }} {%endblock %}
{% block pagetitle %} {{ 'Search options'|trans }} {% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="fa fa-search"></i> {{ 'Search options'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
    <div class="row">
    	<div class="col-md-6">
    		{% include '@EMSCore/entity/list-entities.html.twig' with {
    		    'entities': sortOptions,
    		    'icon': 'fa fa-sort-alpha-asc',
    		    'title': 'Sort Options'|trans,
    		    'add_label': 'Add a Sort Option'|trans,
    		    'missing_label': 'Click on \'Add a Sort Option\' to create a first Sort Option'|trans,
    		    'add_route': 'ems_search_sort_option_new',
    		    'edit_route': 'ems_search_sort_option_edit',
    		    'form': sortOptionReorderForm
    		}%}
    	</div>
    	<div class="col-md-6">
    		{% include '@EMSCore/entity/list-entities.html.twig' with {
    		    'entities': aggregateOptions,
    		    'icon': 'fa fa-th',
    		    'title': 'Aggregate Options'|trans,
    		    'add_label': 'Add an Aggregate Option'|trans,
    		    'missing_label': 'Click on \'Add an aggregate option\' to create a first Aggregate Option'|trans,
    		    'add_route': 'ems_search_aggregate_option_new',
    		    'edit_route': 'ems_search_aggregate_option_edit',
    		    'form': aggregateOptionReorderForm
    		}%}
    	</div>
    	<div class="col-md-6">
    		{% include '@EMSCore/entity/list-entities.html.twig' with {
    		    'entities': searchFieldOptions,
    		    'icon': 'fa fa-th',
    		    'title': 'Search Field Options'|trans,
    		    'add_label': 'Add an Search Field Option'|trans,
    		    'missing_label': 'Click on \'Add an search field option\' to create a first Search Field Option'|trans,
    		    'add_route': 'ems_search_field_option_new',
    		    'edit_route': 'ems_search_field_option_edit',
    		    'form': searchFieldOptionReorderForm
    		}%}
    	</div>
    </div>
{% endblock %}