{% trans_default_domain 'EMSCoreBundle' %}{% extends 'EMSCoreBundle::base.html.twig' %}
{% block title %} {{ 'Search options'|trans }} {%endblock %}
{% block pagetitle %} {{ 'Search options'|trans }} {% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="fa fa-search"></i> {{ 'Search options'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}

{% endblock %}


{% block javascripts %}

{% endblock %}