
table#CriteriaUpdateCustomViewTable > tbody > tr > td {
	min-width: 150px;	
}


.ui-sortable-handle {
    cursor: move;
}

.raw-view, .revision-view {
    word-break: break-word;
	.leaf-item {
		max-height: 400px;
    	overflow-y: scroll;
	}
}

div.table-responsive {
	padding-bottom: 20px;
}