{% trans_default_domain 'EMSCoreBundle' %}

{%  for menu in dashboardMenu.children %}
    <li class="notifications-menu">
        <a href="{{ menu.url }}">
            <i class="{{ menu.icon }}"></i>
        </a>
    </li>
{% endfor %}

 <li class="notifications-menu">
   <a href="{{ path('notifications.inbox') }}">
     <i class="fa fa-envelope-o"></i>
     {% if counter > 0 %}
     	<span class="label label-warning">{{ counter }}</span>
     {% endif %}
   </a>
 </li>