
table#CriteriaUpdateCustomViewTable > tbody > tr > td {
	min-width: 150px;	
}


.ui-sortable-handle {
    cursor: move;
}

.raw-view, .revision-view {
    word-break: break-word;
	.leaf-item {
		max-height: 400px;
    	overflow-y: scroll;
	}
}

div.table-responsive {
	padding-bottom: 20px;
}

.nowrap  {
	white-space: nowrap;
}

ol.vertical li {
    display: block;
    margin: 7px;
    padding: 7px;
    border: 1px solid #cccccc;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

.max-2-lines {
    max-height: 85px;
    overflow-y: scroll;
}
.max-3-lines {
    max-height: 115px;
    overflow-y: scroll;
}
.max-4-lines {
    max-height: 143px;
    overflow-y: scroll;
}
.max-5-lines {
    max-height: 174px;
    overflow-y: scroll;
}

button.button-collapse[aria-expanded=true]:after {
  font-family: FontAwesome;
  content: "\f106";
}
button.button-collapse[aria-expanded=false]:after {
  font-family: FontAwesome;
  content: "\f107";
}

button.button-collapse-all[aria-expanded=true]:after {
  font-family: FontAwesome;
  content: "\f102";
}
button.button-collapse-all[aria-expanded=false]:after {
  font-family: FontAwesome;
  content: "\f103";
}


.panel-fullscreen {
  display: block;
  z-index: 9990;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(200, 200, 200, .95);
}