div.json-menu-nested-alerts {
  div.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

div.json-menu-nested {
  position: relative;

  div.json-menu-nested-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(9,9,9,0.1);
    z-index: 1000;
    font-size: 1em;
  }

  ol.json-menu-nested-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &.json-menu-nested-root, {
      border: 1px solid #cccccc;
      padding: 8px;
      padding-bottom: 14px;
    }

    ol.json-menu-nested-list {
      padding: 0 8px 8px 30px;
    }

    > li {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      margin-top: 6px;

      &.json-menu-nested-item-selected {
          background-color: #F0F8FF;
          border: 1px solid #999;
      }

      div.json-menu-nested-item {
        display: flex;
        flex-direction: row;
        padding: 4px;

        i.json-menu-nested-item-icon {
          margin-left: 5px;
          align-self: center;
        }

        div.json-menu-nested-item-label {
          padding: 5px;
          align-self: center;
        }

        div.json-menu-nested-item-actions {
          margin-left: auto;
          justify-self: flex-start;
        }
      }
    }
  }
}