@import "~font-awesome/scss/_mixins.scss";

@mixin iconBefore($unicode, $marginRight : 5px) {
  &::before {
    font-family: FontAwesome, serif;
    font-weight: 400;
    content: $unicode;
    margin-right: $marginRight;
  }
}

div#ajax-modal {
  .timeline {
    margin: 15px 0 0;
    &:before { left: 13px; }
    & > li > i { left: 0; }
  }
  ul.timeline li { margin: 0 0 15px 0; }
  div.timeline-item {
    margin: 0 0 0 42px;
    .time { color: #333; }
    .timeline-header { font-size: 14px; }
  }
  div.nav-tabs-custom { margin-bottom: 0; }
}

div#task-dashboard {
  form[name="emsco_form_table_type"] {
      .box-header { display: none; }
      .box { border: 0; }
      .table-responsive { min-height: 210px; }

      td.col-deadline { width: 100px; text-align: left; }
  }
}

dl.task-info { margin-bottom: 0; dt { text-align: left; } }

.task-icon-update { @include iconBefore("\f044"); }
.task-icon-delete { @include iconBefore("\f1f8"); }
.task-icon-create { @include iconBefore("\f067"); }
.task-icon-send { @include iconBefore("\f1d8"); }
.task-icon-reject { @include iconBefore("\f00d"); }
.task-icon-approve { @include iconBefore("\f00c"); }
.task-icon-cancel { @include iconBefore("\f00d"); }
.task-icon-close { @include iconBefore("\f00d"); }

button#btn-task-create-modal { margin: 15px; }
button.btn-task-update-modal {
  @include iconBefore("\f044", 0);
  background-color: transparent;
  outline: 0;
}

div#revision-tabs {
  div.tab-content { padding: 0; }
  div.tab-pane {padding: 10px;}

  .task-loading { text-align: center; color: #ccc; padding: 25px 0; }
  p.task-comment { font-size: 12px; margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; }

  div#tab_tasks {
    padding: 0 0 15px;
    a.tasks-item { color: #666;}

    div.revision-tasks-title { font-weight: bold; font-size: 14px; }
    div#revision-task-active {
        background-color: lighten($brand-info, 35%);
        & div.tasks-item-block-info i, div.tasks-item-title {  color: $brand-primary; font-weight: bold; }

        form[name="revision_task_handle"] {
          label { color: #666; font-size: 12px; }
          textarea { resize: none; }
          div.form-group {margin-bottom: 10px;}
        }
    }

    &.reorder {
      button#btn-task-create-modal,
      button.btn-task-update-modal,
      div#revision-task-active
      { display: none; }

      ul#revision-tasks-planned-list { i.task-icon { color: #000 !important; &::before { content: "\f047" !important; } }}
    }

    div#revision-tasks-planned {
        div#revision-tasks-planned-header {
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    div#tasks-item-handle { padding: 0 10px 10px 30px; }

    div.revision-tasks-info { font-weight: bold; padding: 15px 15px 0;}

    ul.revision-tasks-planned-list {
      margin: 0;
      li.tasks-item {
        padding: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid $gray-lighter;
        background: #FFF;

        &.dragging {
          background-color: lighten($brand-info, 35%);
          border: solid $brand-primary 1px !important;
          z-index: 1 !important;
        }
      }
    }

    .tasks-item-block{
      i.task-icon { padding: 3px 10px 0 0; @include fa-icon(); }

      display: flex;
      justify-content: space-between;
      .tasks-item-info { padding: 10px; display: flex; align-items: flex-start; font-size: 12px; }
      .tasks-item-title { font-size: 14px; margin-bottom: 5px; }
    }

    div#revision-tasks-approved {
      a#btn-tasks-approved { padding: 15px; display: block; }

      ul.revision-tasks li {
        &:hover { cursor: pointer; }
        div.tasks-item-info {
          .tasks-item-title { color: $brand-success; }
        }
      }
    }
  }
}