@mixin icon($unicode) {
  font-family: FontAwesome, serif;
  font-weight: 400;
  content: $unicode;
}

@mixin iconBefore($unicode, $marginRight : 5px) {
  &::before {
    @include icon($unicode);
    margin-right: $marginRight;
  }
}

@mixin iconAfter($unicode, $marginLeft : 5px) {
  &::after {
    @include icon($unicode);
    margin-left: $marginLeft;
  }
}