div.media-lib {
  --color-active: #337AB7;
  --color-link: #337AB7;
  --color-icon: #666666;
  --color-text: #333333;
  --color-border: #D7D7D7;
  --background-active: #E2F7FF;
  --background-hover: #F5F5F5;
  --background-white: #FFFFFF;
  --background-light: #F5F5F5;
  --background-dark: #D2D6DE;

  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  border: solid 1px var(--color-border);
  color: var(--color-text);
  user-select: none;

  button[disabled], label[disabled] {
    opacity: 100%;
  }

  &.loading {
    cursor: progress;
  }

  .btn {
    color: var(--color-text);
    border-color: var(--color-border);
    & i { margin-right: 4px; color: var(--color-icon) }
    &.btn-default { background-color: var(--background-white); }
    &:focus, &:active:focus { outline: none; }
  }

  a {
    color: var(--color-link);
    &:hover { text-decoration: underline; }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  div.media-nav-bar {
    min-height: 50px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .media-lib-container {
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    input.media-lib-search {
      border-color: var(--color-border);
      &:focus { outline: none; border-color: var(--color-border); }
      &.active { border: 1px solid var(--color-active); }
    }

    ul.media-lib-list-breadcrumb {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: var(--background-white);
      border: 1px solid var(--color-border);
      border-radius: 3px;
      padding: 0 10px;

      button {
        border: 0;
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 12px;
        background-color: transparent;
        color: var(--color-link);

        &:hover { text-decoration: underline; }
      }

      li:not(:last-child)::after {
        content: "\f101 ";
        font-family: "FontAwesome", serif;
      }
    }
  }

  div.media-lib-folder > *, div.media-lib-file > * { pointer-events: none; }
  div.media-lib-folder a, div.media-lib-file a { pointer-events: auto; }
  div.media-lib-drop-area div.media-lib-file a { pointer-events: none; }

  div.media-lib-folder, div.media-lib-file, div.media-lib-file-header {
    display: flex;
    flex-wrap: nowrap;
    padding: 7px 8px;
    border: 1px solid transparent;
    > * { flex: 1; }
  }

  div.media-lib-file{
    &:hover { background-color: var(--background-hover); }
    &.active {
      border-color: var(--color-active);
      background-color: var(--background-active);
      &:hover { background-color: var(--background-active); }
    }
  }

  div.media-lib-folder {
    &:hover { background-color: var(--background-hover); }
    &::before {
      content: "\f07b";
      font-weight: normal;
      color: var(--color-icon);
      font-family: "FontAwesome", serif;
      margin-right: 8px;
    }
    &.active {
      color: var(--color-active);
      &::before { color: var(--color-active); }
    }
  }

  div.media-lib-drop-area {
    border: 1px solid var(--color-active);
    background-color: var(--background-active);
  }

  div.media-lib-content {
    display: flex;
    flex-grow: 1;
    height: calc(90vh - 200px);

    div.media-lib-left-column {
      display: flex;
      flex-direction: column;
      resize: horizontal;
      overflow: auto;
      width: 25%;
      min-width: 20%;
      max-width: 50%;
      flex-shrink: 0;
      background-color: var(--background-dark);
      border-right: solid 1px var(--color-border);

      div.media-lib-folders {
        overflow: auto;
        overflow-x: hidden;

        ul.media-lib-list-folders {
          display: flex;
          flex-direction: column;

          ul {
            display: none;
            padding-left: 8px;
            width: auto;
          }

          li {
            text-align: left;
            background-color: var(--background-white);

            &.has-children  > div.media-lib-container > div.media-lib-folder::after {
              content: "\f104";
              font-family: "FontAwesome", serif;
              float: right;
            }
            &.open {
              & > div.media-lib-container > div.media-lib-folder::before { content: "\f07c"; }
              & > div.media-lib-container > div.media-lib-folder::after { content: "\f107"; }
              & > ul { display: block; }
            }

            div.media-lib-container {
              border-bottom: 1px solid var(--color-border);
            }
          }
        }
      }
    }

    div.media-lib-right-column {
      display: flex;
      flex-direction: column;
      width: 80%;
      flex-grow: 1;
      background-color: var(--background-white);

      div.media-lib-files {
        overflow-y: auto;
        height: 100%;

        ul.media-lib-list-uploads {
          width: 100%;

          li {
            display: flex;
            flex-direction: column;
            padding: 8px;
            background-color: var(--background-light);

            div.core-js-progress {
              background: var(--background-white);
              padding: 8px;
              border-radius: 3px;
              border: 1px solid var(--color-border);
            }
          }
        }

        ul.media-lib-list-files {
          display: flex;
          flex-direction: column;

          div.media-lib-file-header { font-weight: bold; }
          div.media-lib-container {
            border-bottom: 1px dashed var(--color-border);
          }
        }
      }
    }

    div.media-lib-load-more {
      &.show-load-more { display: flex; }
      display: none;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      padding: 16px 16px 64px 16px;
      font-weight: bold;
    }
  }

  div.media-lib-footer {
    flex-shrink: 0;
    & > div {
      border-top: 1px solid var(--color-border);
      padding: 8px;
      height: 100%;
      min-height: 30px;
    }
  }
}
