div.media-lib {
  --color-light: #F8F8F8;
  --color-dark: #333333;
  --color-border: #d7d7d7;
  --color-border-active: #00A7E2;

  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-border);
  color: var(--color-dark);

  .media-lib-container {
    background-color: #f5f5f5;
  }

  button[disabled], label[disabled] {
    opacity: 100%;
    cursor: progress;
  }

  .btn {
    border-color: var(--color-border);
    & i { margin-right: 4px; }
    &.btn-default { background-color: #FFFFFF; }
    &:focus, &:active:focus { outline: none; }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  div.media-nav-bar {
    min-height: 50px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 0 8px;

    .media-lib-container  {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    ul.media-lib-list-breadcrumb {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid var(--color-border);
      border-radius: 3px;
      padding: 0 10px;

      button {
        border: 0;
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 12px;
        background-color: transparent;
        color: $brand-primary;

        &:hover {
          text-decoration: underline;
        }
      }

      li:not(:last-child)::after {
        content: "\f101 ";
        color: #777777;
        font-family: "FontAwesome", serif;
      }
    }
  }

  div.media-lib-content {
    display: flex;
    flex-grow: 1;
    height: calc(90vh - 200px);

    div.media-lib-left-column {
      display: flex;
      flex-direction: column;
      resize: horizontal;
      overflow: auto;
      width: 25%;
      min-width: 20%;
      max-width: 50%;
      flex-shrink: 0;
      background-color: #d2d6de;
      border-right: solid 1px var(--color-border);

      div.media-lib-folders {
        overflow: auto;
        overflow-x: hidden;

        ul.media-lib-list-folders {
          li {
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5;

            button.media-lib-folder {
              background-color: #f5f5f5;
              border: 0;
              text-align: left;
              color: #333;
              padding: 8px;

              &::before {
                content: "\f07b";
                font-weight: normal;
                color: #777;
                font-family: "FontAwesome", serif;
                margin-right: 8px;
              }

              &.active, &:hover {
                color: $brand-primary;

                &::before {
                  color: $brand-primary;
                }
              }
            }

            ul {
              display: none;
              padding-left: 8px;
              width: auto;
            }

            &.media-lib-folder-children {
              & > button.media-lib-folder::after {
                content: "\f104";
                color: #777777;
                font-family: "FontAwesome", serif;
                float: right;
              }
            }

            &.media-lib-folder-children.open {
              & > button.media-lib-folder::before {
                content: "\f07c";
              }

              & > button.media-lib-folder::after {
                content: "\f107";
              }

              & > ul {
                display: block;
              }
            }
          }

          & > li {
            & > button.media-lib-folder {
              border-bottom: 1px solid var(--color-border);
              background-color: #FFFFFF;

              &:hover {
                background-color: #d9edf7;
              }
            }

            & > ul {
              border-bottom: 1px solid var(--color-border);
            }
          }
        }
      }
    }

    div.media-lib-right-column {
      display: flex;
      flex-direction: column;
      width: 80%;
      flex-grow: 1;
      background-color: #FFF;

      div.media-lib-files {
        overflow-y: auto;
        height: 100%;

        &.media-lib-drop-area {
            border: 2px solid var(--color-border-active);
            background-color:  rgb(0, 167, 226, 0.1);
        }

        ul.media-lib-list-uploads {
          width: 100%;

          li {
            display: flex;
            flex-direction: column;
            padding: 8px;
            background-color: #f5f5f5;

            div.core-js-progress {
              background: #FFFFFF;
              padding: 8px;
              border-radius: 3px;
              border: 1px solid var(--color-border);
            }
          }
        }

        ul.media-lib-list-files {
          display: flex;
          flex-direction: column;

          li {
            &:first-child {
              font-weight: bold;
            }

            padding: 8px 16px;
            border-bottom: 1px dashed var(--color-border);
            display: flex;
            flex-wrap: nowrap;

            a:hover {
              text-decoration: underline;
            }

            > div { flex: 1; }
          }

          .media-lib-item {
            & > * { pointer-events: none; }
            & a { pointer-events: auto; }

            &:hover { background-color: var(--color-light); }
            &.active { border: 2px solid var(--color-border-active); }
          }
        }
      }
    }

    div.media-lib-load-more {
        &.show-load-more { display: flex; }
        display: none;
        color: #777777;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        padding: 16px 16px 64px 16px;
        font-weight: bold;
    }
  }

  div.media-lib-footer {
    flex-shrink: 0;
    & > div {
      border-top: 1px solid #DCDCDC;
      padding: 8px;
      height: 100%;
      min-height: 30px;
    }
  }
}
