{% block modalBody %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_end(form) }}
{% endblock %}

{% block modalButtons %}
    <button id="btn-create" class="btn btn-primary">Create</button>
{% endblock %}