{# @var revision EMS\CoreBundle\Entity\Revision #}

{% block tab %}
    <button id="btn-new-task"
            data-url="{{ path('revision.task.add-modal', {'revisionId': revision.id}) }}"
            data-title="Create new task"
            class="btn btn-sm btn-primary">Create new task</button>
    {% embed '@EMSCore/core/modal.html.twig' with {'id': 'core-modal'} %}{% endembed %}
{% endblock %}
