{%- use "form_div_layout.html.twig" -%}
{%- trans_default_domain 'EMSCoreBundle' -%}

<a href="#" data-content-type="{{ contentTypeName }}" data-ouuid="{{ ouuid }}"{{ block('attributes') }}>
    {{- labelHtmlSafe ? label|raw : label|e -}}
</a>