{% extends '@EMSCore/user/user.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}


{% block body %}
    {%  set toolbar %}
        <a class="btn btn-primary" href="{{ path(add_user_route) }}"><i class="fa fa-plus"></i> {{ 'Add user'|trans }}</a>
    {%  endset %}

    {% form_theme form '@EMSCore/form/forms.html.twig' %}
    {{ form(form, {
        reorder_label: 'user.index.reorder',
        toolbar: toolbar
    }) }}

    {{ parent() }}
{% endblock %}