{% trans_default_domain 'EMSCoreBundle' %}	{{ form_row(form.wysiwygProfile) }}
	{{ form_row(form.wysiwygOptions) }}
	<div class="form-group">
		<button type="button" class="btn btn-default wysiwyg-options-sample" id="WysiwygOptionsSample">
			<span class="fa fa-file"></span>
			WYSIWYG options sample
		</button>
	</div>