<div>
    {{ form_start(form, { 'name': 'json-menu-nested-form-' ~ fieldType.name, 'class': 'json-nested-form' }) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">{{ form_row(form.label) }}</div>
        </div>
    </div>
    {{ form(form) }}
    {{ form_end(form) }}
</div>


