{%- trans_default_domain 'EMSCoreBundle' -%}
{% spaceless %}
    <p class="text-red">{{ 'view.data.json-menu-nested-json-preview.field-type-not-found'|trans }}</p>
    <pre class="ems-code-editor" data-language="ace/mode/json" data-them="ace/theme/chrome">
        {{- rawData|json_encode(constant('JSON_PRETTY_PRINT')) -}}
    </pre>
{% endspaceless %}